html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #767481;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  width: 392px;
  background-color: #F48E31;
  height: 40px;
}

.title {
  font-family: "Open Sans";
  color: white;
  font-size: 15px;
}

#main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.face-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #202731;
  border-radius: 2px;
  height: 40px;
  width: 392px;
  margin: 2px;
  opacity: 0.8;
}

.face-container:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.face {
  font-size: 26px;
}

.status {
  font-family: "Open Sans";
  color: white;
  font-size: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tile {
  width: 40px;
  height: 40px;
  margin: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  opacity: 0.8;
  font-family: "Open Sans";
  background-color: #202731;
  border-radius: 2px;
}

.tile:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.tile.unexplored {
}

.tile.explored {
  background-color: #D3D3D3;
}

.tile.flagged {
  color: white;
}

.tile.bombed {
  background-color: #b30000;
}

.modal-screen {
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 30%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  opacity: 0.9;
}

.modal-content {
  text-align: center;
}

.modal-text {
  font-family: Arial, Helvetica, sans-serif;
}
